:root {
  --text-light: #eeeeee;
  --text-dark: var(--gray-8);
  --blob-background-image: var(--gradient-17);
  --main-background-image: var(--gradient-23);
  --about-background-color: #393e46;
  --gallery-background-color: #222831;
  --galleryFrame-background-color: #393e46;
  --blob1: var(--radius-blob-1);
  --blob2: var(--radius-blob-2);
  --blob3: var(--radius-blob-3);
  --blob4: var(--radius-blob-4);
  --blob5: var(--radius-blob-5);

  /* NOTES: Oc colors{
    white: #fffff
    grey white: #f0e8e6
    (oyster white: #fee3bc these two go well together
    (light ivory: #f1b990
    ((orange brown: #aa7446
    ((signal black: #2a2622
    cream: #fffee5
  } */
}
* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-flow: row wrap;
  background-color: #222831;
  width: 100%;
  min-height: var(--size-14);
  max-height: var(--size-15);
}
footer {
  height: 100px;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* -------------------- Children of Main (Face and Text) -------------------- */
.faceCard {
  display: grid;
  grid: [stack] 1fr / [stack] 1fr;
  align-items: center;
  justify-items: center;
  padding: 5px;
  margin: 5px;
  z-index: 1;
  flex: 1 var(--size-content-1);
}
.nameCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 5px;
  flex: 2 var(--size-content-2);
}
.nameCard h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--text-light);
  text-align: center;
  font-size: 8ch;
}
.nameCard h2 {
  color: #ffd369;
  font-family: MontserratAceRegular;
  font-size: 4ch;
}
.blobContainer {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #ffd369;
  width: 20vmax;
  height: 20vmax;
  border-radius: var(--radius-blob-4);
  animation: wobble linear infinite, var(--animation-spin);
  animation-duration: 20s;
  margin: 0;
}
.face {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  z-index: 2;
  width: 17vmax;
  height: 17vmax;
}
/* -------------------------- Seperator and Friends ------------------------- */
.seperator {
  aspect-ratio: 500/15;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ---------------------------------- About --------------------------------- */
.about {
  background-color: var(--about-background-color);
  height: 295px;
}
/* --------------------------------- Gallery -------------------------------- */
.gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 400px;
  background-color: var(--gallery-background-color);
}
.gFrame {
  margin: 5px;
  flex: 0 0 auto;
  background-color: var(--galleryFrame-background-color);
  width: 400px;
  border-radius: var(--radius-blob-3);
}
/* -------------------------------- STARS!!! -------------------------------- */
#stars {
  position: absolute;
  width: 100%;
  min-height: var(--size-14);
  max-height: var(--size-15);
}
/* ----------- Animations Fonts and Media (TODO: CLEAN UP UNUSED) ----------- */
@keyframes wobble {
  0%,
  100% {
    border-radius: var(--radius-blob-4);
  }
  20% {
    border-radius: var(--radius-blob-3);
  }
  40% {
    border-radius: var(--radius-blob-5);
  }
  60% {
    border-radius: var(--radius-blob-2);
  }
  80% {
    border-radius: var(--radius-blob-1);
  }
}
@media (max-width: 559px) {
  .nameCard h1 {
    font-size: 6ch;
  }
}
@font-face {
  font-family: "Hi Score";
  src: url(/Fonts/NewHiScore.ttf);
}
