@media (max-width: 600px) {
  /* .blobContainer {
    width: var(--size-10) !important;
    height: var(--size-10) !important;
  } */
}
.container {
  width: 100%;
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: var(--lime-4);
  width: 100%;
  height: 3rem;
}
main {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--red-4);
  width: 100%;
  height: 30rem;
}
.faceCard {
  display: grid;
  grid: [stack] 1fr / [stack] 1fr;
  align-items: center;
  justify-items: center;
  padding: 5px;
  margin: 5px;
  z-index: 1;
  background-color: var(--blue-4);
  flex: 1 var(--size-content-1);
}
.nameCard {
  padding: 5px;
  margin: 5px;
  background-color: var(--yellow-4);
  flex: 2 var(--size-content-2);
}
.blobContainer {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: var(--cyan-7);
  width: 17vmax;
  height: 17vmax;
  border-radius: var(--radius-blob-4);
  animation: wobble linear infinite, var(--animation-spin);
  animation-duration: 20s;
  margin: 0;
}
.face {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  z-index: 2;
}
.seperator {
  width: 100%;
  height: 30px;
  background-color: var(--indigo-4);
}
.gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: 400px;
  background-color: var(--gray-7);
}
/* .gallery::-webkit-scrollbar {
  display: none;
} */
.gFrame {
  margin: 5px;
  flex: 0 0 auto;
  background-color: var(--red-7);
  width: 300px;
}
.about {
  height: 300px;
}
@keyframes wobble {
  0%,
  100% {
    border-radius: var(--radius-blob-4);
  }
  20% {
    border-radius: var(--radius-blob-3);
  }
  40% {
    border-radius: var(--radius-blob-5);
  }
  60% {
    border-radius: var(--radius-blob-2);
  }
  80% {
    border-radius: var(--radius-blob-1);
  }
}
